body {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
    background-color: #fff
}

a {
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

a:visited {
    color: #2E2F42;
}

.footer a:visited {
    color: #F4F4FD;
}

.logo {
    font-family: "Raleway";
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.11;
    color: #2E2F42;
    letter-spacing: 3%;
}

.logo-web {
    color: #4D5AE5;
}

.navigate-ul li a {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
    letter-spacing: 2%;
}

.navigate-ul li a:hover, .navigate-ul li a:focus {
    color: #404bbf;
}

.navigate-ul li a:active {
    color: #4D5AE5;
}

.contacts li a {
    color: inherit;
    font-size: 16px;
    line-height: 1.5;
    font-style: normal;
    letter-spacing: 2%;
}

.contacts li a:hover, .contacts li a:focus {
    color: #404BBF;
}

.hero-image {
    background-color: #2E2F42;
}

.hero-image h1 {
    color: white;
    text-align: center;
    font-size: 56px;
    line-height: 1.11;
    letter-spacing: 2%;
}

.order-button {
    background-color: #4D5AE5;
    cursor: pointer;
    line-height: 1.5;
    font-size: 16px;
    color: white;
    letter-spacing: 2%;
}

.order-button:hover, .order-button:focus  {
    background-color: #404BBF;
}

.our-features h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 2%;
}

.our-features p {
    font-size: 16px;
    line-height: 1.5;
    color: #434455;
    letter-spacing: 2%;
}

.our-team {
    background-color: #F4F4FD;
}

.our-team h2 {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 2%;
}

.our-team li {
    background-color: white;
}

.our-team li h3 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 2%;    
}

.our-team li p {
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    color: #434455;
    letter-spacing: 2%;
}

.our-portfolio h2 {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 2%;
}

.our-portfolio h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 2%;
}

.our-portfolio p {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
}

.footer {
    background-color: #2E2F42;
    color: #F4F4FD;
}

.footer a {
    color: #F4F4FD;
}

.footer p {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 2%;
}